<div id="wrapper">
    <h1>NPR's The Record Music Section - Web Scrapper</h1>
    <h2>SAVED ARTICLES</h2>
    <div id="articles">
        {{#each articles}} {{#if this.saved}}
        <h3>this.title</h3>
        {{/if}} {{/each}}
    </div>
    <div id="notes"></div>
</div>