<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">NPR's The Record Web Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape">Scrape New Articles</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <div id="articles">
                {{#each saved}}
                <h3>{{this.title}}</h3>
                <p>{{this.url}}</p>
                <p>{{this.summary}}</p>
                <form method="POST" action="/articles/delete/{{this.id}}?_method=DELETE">
                <button type="submit" class="delete-artic btn btn-danger">Delete</button>
                </form>
                <button type="submit" class="add-note btn btn-default">Add a Note</button>
                {{/each}}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>